<div class="instructor">
  <div class="instructor__wapper">
    <div class="instructor__content">
      <div class="instructor__title">
        <a routerLink="/teacher"> Become an Instructor</a>
      </div>
      <div class="instructor__desc">
        Teach what you love. Udemy gives you the tools to create an online course.
      </div>
      <div class="instructor__link">
        <a routerLink="/teacher" class="instructor__btn"> Start teaching </a>
      </div>
    </div>
  </div>
  <div class="instructor__wapper">
    <div class="instructor__content">
      <div class="instructor__title">
        <a routerLink="/bussiness"> Udemy for bussiness </a>
      </div>
      <div class="instructor__desc">
        Get unlimited access to 2,000 of Udemy's top courses for your team
      </div>
      <div class="instructor__link">
        <a routerLink="/bussiness" class="instructor__btn"> Get Udemy for Business </a>
      </div>
    </div>
  </div>
</div>
