<div class="enroll__container">
  <div class="enroll__introduction">
    <a href="javascript:void(0)">
      <div class="enroll__placeholder">
        <div class="enroll__asset">
          <div class="enroll__play">
          </div>
          <div class="enroll__preview">
            Preview this course
          </div>
        </div>
      </div>
      <img class="enroll__image" src="{{course?.images}}" alt="">
    </a>
  </div>
  <div class="enroll__action">
    <div class="enroll__join">
      <div class="enroll__type"> Free </div>
      <a href="javascript:void(0)"
        class="enroll__btn"
        (click)="enrollCourse(course)"
        > Enroll Now </a>
    </div>

    <div class="enroll__incentives">
      <div class="enroll__title">Includes:</div>
      <ul>
        <li>
          <i class="fa fa-file-video-o" aria-hidden="true"></i>
          <span>2.5 hours on-demand video</span>
        </li>
        <li>
          <i class="fa fa-file-video-o" aria-hidden="true"></i>
          <span>3 Articles</span>
        </li>
        <li>
          <i class="fa fa-file-video-o" aria-hidden="true"></i>
          <span>Full lifetime access</span>
        </li>
      </ul>
    </div>
  </div>
</div>
