:host {
  position: absolute;
  top: 10px;
  left: auto;
  width: 360px;
  margin-top: 18px;
  z-index: 20;
}

.enroll {
  &__container {
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: 4px;
    color: #505763;
    padding: 3px;
  }

  &__introduction {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__asset {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(rgba(41,48,59,0),rgba(41,48,59,0),#29303b);
    color: #fff;
    font-weight: 700;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__placeholder {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(rgba(41,48,59,0),rgba(41,48,59,0),#29303b);
    color: #fff;
    font-weight: 700;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__preview {
    font-size: 15px;
    margin-bottom: 10px;
    z-index: 1;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  &__play {
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/assets/img/icon-play.svg) no-repeat;
    background-size: auto 50%;
    background-position: 50%;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    -moz-transition: -moz-transform .15s ease-in-out;
    -o-transition: -o-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
  }

  &__action {
    padding: 15px;
  }

  &__type {
    font-weight: 700;
    line-height: 40px;
    font-size: 30px;
    color: #505763;
  }

  &__btn {
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;
    padding: 16px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-decoration: none;
  }

  &__incentives {
    li {
      font-size: 13px;
      display: flex;
      padding: 3px;
    }
    span {
      margin: 0 10px;
    }
  }

  &__title {
    font-weight: 700;
  }
}
