.course {
  &__card {
    position: relative;
    margin-bottom: 30px;
    opacity: 1;
  }

  &__search {
    border: 1px solid #dedfe0;
    border-radius: 2px 2px 0 0;
    position: relative;
    padding-right: 30px;
    background-color: #fff;
    min-height: 148px;
    display: flex;
  }

  &__wrapper-img {
    width: 260px;
    margin-right: 30px;
  }

  &__image {
    height: auto;
    position: relative;
    width: 100%;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }

  &__content {
    flex: 1;
    min-width: 1px;
  }

  &__head {
    padding-top: 10px;
  }

  &__link {
    display: inline-block;
    margin-right: 10px;
    color: #686f7a;
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
    color: #29303b;
    margin: 0;
    padding: 0;
    line-height: 18px;
  }

  &__subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #29303b;
  }

  &__badge {
    border-radius: 3px;
    font-size: 9px;
    padding: 1px 8px;
    background: #14171c;
    border: none;
    color: #fff;
    min-width: inherit;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    vertical-align: baseline;
    &:after {
      border-radius: 3px;
      right: -4px;
      background: inherit;
      content: "";
      height: 11px;
      position: absolute;
      top: 2px;
      transform: rotate(45deg);
      width: 11px;
      z-index: 1;
      display: block;
    }
  }

  &__type {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__auth {
    height: auto;
    flex: 1;
    min-width: 1px;
    align-items: stretch;
    display: flex;
    padding-bottom: 10px;
  }

  &__auth-item {
    display: block;
    margin-right: 10px;
  }

  &__language {
    color: #686f7a;
    font-size: 13px;
    line-height: 1;
    position: absolute;
    bottom: 15px;
    margin-top: 15px;
    margin-right: 140px;
  }

  &__rating {
    color: #505763;
    width: 156px;
    vertical-align: top;
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  &__cost {
    display: flex;
    justify-content: flex-end;
    min-height: 36px;

    &--price {
      order: -1;
      color: #686f7a;
      font-weight: 400;
      font-size: 13px;
      line-height: 2;
      margin-right: 5px;
      text-decoration: line-through;
    }

    &--discount {
      color: #29303b;
      font-size: 18px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

.green {
  background: #46c28e;
  color: #fff;
}

.yellow {
  background: #f4c150;
  color: #29303b;
}
