<div class="course__card">
  <div class="course__search">
    <div class="course__wrapper-img">
      <a routerLink="/{{course.name | formatLink}}">
        <img [src]="course.images" alt="{{course.name}}" class="course__image">
      </a>
    </div>
    <div class="course__content">
      <div class="course__head">
        <a routerLink="" class="course__link">
          <h1 class="course__title"> {{course.title}}</h1>
        </a>
        <div class="course__type"
          [className]="course.type === 'new' ? 'course__badge green' : 'course__badge yellow'">
           {{course.type}}</div>
           <p class="course__subtitle"> {{course.subtitle}}</p>
        <div class="course__auth">
        <span class="course__auth-item">
          <a class="course__auth-link" href="javascript:void(0)"> {{course?.teacher.fullName}} </a>
        </span>
        <span class="course__auth-item">Last updated {{course.date | date: 'dd/yyyy'}} </span>
      </div>
      </div>
      <div class="course__language">
        <i class="fa fa-comment" aria-hidden="true"></i>
        <span>{{course?.language}}</span>
      </div>
      <div class="course__rating"
        *ngIf="course.rating !== null">
        <div class="course__cost">
          <div class="course__cost--price">{{course.price}}</div>
          <div class="course__cost--discount">{{course.discountPrice}}</div>
        </div>
        <rating-star [(ngModel)]="course.rating"
          [titles]="true"
          [readonly]="true">
        </rating-star>
    </div>
    </div>
  </div>
</div>

