span.rating {
  cursor: pointer;
  outline: none;
  &.readonly {
    cursor: default;
  }
  &.disabled {
    cursor: not-allowed;
  }
  i {
    font-style: normal;
  }
}

.star-icon {
  color: #ddd;
  font-size: 15px;
  position: relative;
  &:before {
    color: #FDE16D;
    content: attr(data-icon) " ";
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 0;
  }
}

span.rating.disabled .star-icon:before {
  color: #ECECEC;
  text-shadow: none;
}

.star-icon {
  &.half10:before {
    width: 10%;
  }
  &.half20:before {
    width: 20%;
  }
  &.half30:before {
    width: 30%;
  }
  &.half40:before {
    width: 40%;
  }
  &.half50:before {
    width: 50%;
  }
  &.half60:before {
    width: 60%;
  }
  &.half70:before {
    width: 70%;
  }
  &.half80:before {
    width: 80%;
  }
  &.half90:before {
    width: 90%;
  }
  &.half100:before {
    width: 100%;
  }
}

@-moz-document url-prefix() {
  /* Firefox Hack */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}
