<mat-card>
  <h2>Simple autocomplete</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width" >
      <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
        <input type="text" placeholder="Pick one" aria-label="Number"
          matInput
          [formControl]="autocompleteControl"
          [matAutocomplete]="auto"
          [matAutocompleteConnectedTo]="origin"
        >
      </div>
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <h2>Autocomplete group</h2>
  <form [formGroup]="stateForm">
    <mat-form-field>
      <input type="text" matInput placeholder="States Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-card>
