<div class="container streamer">
  <div class="row">
    <div class="col-xs-12 streamer__actions">
      <a href="javascript:void(0)" class="streamer__actions--link">Gift this course</a>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 left-col">
      <h1> {{course.title}} </h1>
      <p> {{course.subtitle}} </p>
      <div class="streamer__status">
        <div [className]="course.type === 'new' ? 'streamer__badge green' : 'streamer__badge yellow'">
          <span>{{course.type}}</span>
        </div>
        <div class="streamer__rating">
          <rating-star [(ngModel)]="course.rating"
            [titles]="true"
            [readonly]="true">
          </rating-star>
        </div>
        <div class="streamer__rating--number">
          {{course.rating}}
        </div>
        <div class="streamer__auth">
          <span class="streamer__auth-item">
            Created by
            <a class="streamer__auth-link" href="javascript:void(0)"> {{course.teacher.fullName}} </a>
          </span>
          <span class="streamer__auth-item">Last updated {{course.date | date: 'dd/yyyy'}} </span>
        </div>
        <div class="streamer__language">
          <i class="fa fa-comment" aria-hidden="true"></i>
          <span>{{course.language}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
