:host {
  display: inline-block;
}
.course {
  &__item {
    display: inline-block;
    margin: 0 15px 15px 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 216px;
    height: 290px;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.course {
  &__card {
    background: #fff;
    color: #29303b;
    height: 290px;
    display: block;
    font-size: small;
    overflow: hidden;
    position: relative;
    &--mark {
      display: block;
      position: relative;
    }

    &--image {
      width: 100%;
      opacity: 1;
      -webkit-filter: sepia(.1) grayscale(.1) saturate(.8);
      filter: sepia(.1) grayscale(.1) saturate(.8);
      display: block;
      height: auto;
      overflow: hidden;
      position: relative;
    }
    &--details {
      display: block;
      padding: 0 10px 0 15px;
    }
    &--title {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      -ms-line-clamp: 2;
      -o-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      -o-box-orient: vertical;
      box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      font-weight: 600;
      height: 32px;
      min-height: 32px;
      font-size: 15px;
      color: #29303b;
      margin-bottom: 10px;
    }

    &--content {

      span {
        margin-left: 10px;
      }
    }
  }
  &__rating {
    font-weight: 500;
    color: #505763;
    font-size: 16px;
  }

  &__status {
    margin-bottom: 10px;
  }

  &__instructor {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    min-height: 21px;
    height: 21px;
    font-size: 12px;
    color: #686f7a;
    margin-bottom: 10px;
  }

  &__cost {
    display: flex;
    justify-content: flex-end;
    min-height: 36px;

    &--price {
      order: -1;
      color: #686f7a;
      font-weight: 400;
      font-size: 13px;
      line-height: 2;
      margin-right: 5px;
      text-decoration: line-through;
    }

    &--discount {
      color: #29303b;
      font-size: 18px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}
a:hover {
  img {
    opacity: 0.5;
  }
}

