<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="footer__link">
        <ul class="link">
          <li><a routerLink="/business"> Udemy for Business</a></li>
          <li><a routerLink="/teaching"> Become an Instructor</a></li>
          <li><a routerLink="/mobile"> Mobile Apps</a></li>
          <li><a routerLink="/about"> About Us</a></li>
          <li><a routerLink="/careers"> Careers</a></li>
          <li><a routerLink="/blog"> Blog</a></li>
          <li><a routerLink="/topics"> Topics</a></li>
          <li><a routerLink="/support"> Support</a></li>
          <li><a routerLink="/affiliate"> Affiliate</a></li>
        </ul>
      </div>
      <div class="footer__locate"></div>
    </div>

  </div>
</footer>
