---
referencesOthers: true
---

extends ../layout/default.pug

block main-content
  include ../partials/home/banner
  include ../partials/home/about
  include ../partials/home/area
  include ../partials/home/attorney
  include ../partials/home/client
  include ../partials/home/recent
  include ../partials/home/question
