section.main-section.main-section--area
  .container
    +main-section-group("main-section__group", "title-main title-main--area", "desc-main", main_section[2])
    .main-section__content
      ul.row
        - for (var i = 0; i < area.length; i++)
          li.col-xs-12.col-sm-6.area-list__item
            .row
              .col-xs-2
                p.area-list__icon
                  span(class= area[i][0])
              .col-xs-10
                h3.title-item.title-item--area= area[i][1]
                p.desc-item= area[i][2]
