section.main-section.main-section--client
  .container
    +main-section-group("main-section__group", "title-main title-main--client", "desc-main", main_section[4])
    .main-section__content
      .row
        .col-xs-12.col-sm-4
          img.photo(src="../images/alon.jpg", alt="alon")
        .col-xs-12.col-sm-8
          p.desc-item Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
          p.desc-item Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
