/* Media query for device 768px to 991px */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  /* Styles in banner */
  .banner {
    padding: 235px 0 200px;
  }

  /* Styles in main section */
  .main-section {
    padding: 30px 0;
  }

  .main-section__content {
    margin-top: 20px;
  }

  /* Styles title main */
  .title-main {
    font-size: 28px;

    /* Styles name in banner */
    &--name {
      font-size: 60px;
    }
  }

  /* Styles title item */
  .title-item {
    font-size: 20px;
  }

  /* Styles desc main */
  .desc-main {
    font-size: 20px;

    /* Styles desc job in banner */
    &--job {
      font-size: 28px;
    }
  }

  /* Styles desc item */
  .desc-item {
    font-size: 16px;
  }
}
/* Media query for device >= 768px */
@media (min-width: $screen-sm-min) {

  /* Styles question and answer in question */
  .question {
    position: relative;
  }

  .group-answer {
    position: absolute;
    height: 100%;
    right: 0;
  }

  .answer {
    height: 100%;
  }
}
