/* Class to styles for main sections */
.main-section {
  padding: 95px 0;
  background-color: $color-bg-main-section;

  /* Modified for area, client, question  */
  &--area,
  &--client,
  &--question {
    background-color: $color-cod-gray;
  }

  /* Main section group */
  &__group {
    padding-left: 20px;
    border-left: 2px solid $color-border-left-main-section-group;
  }

  /* Main section content */
  &__content {
    margin-top: 40px;
  }
}
