<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Website</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/" class="nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="product" class="nav-link" routerLinkActive="active">Product</a></li>
      <li><a routerLink="about" class="nav-link" routerLinkActive="active">About</a></li>
      <li><a [routerLink]="[{outlets: { contact: ['contact'] } }]">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <router-outlet name='contact'></router-outlet>
</div>
