.course-card {
  width: 216px;
  height: 290px;
}
.mat-card-title {
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 600;
  height: 36px;
  min-height: 42px;
  font-size: 15px;
  color: #29303b;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.mat-card-subtitle {
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-height: 15px;
  height: 15px;
  font-size: 12px;
  color: #686f7a;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.mat-card-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
  margin-bottom: -10px;
}

.price {
  order: -1;
  color: #686f7a;
  font-weight: 400;
  font-size: 13px;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: line-through;
}

.discount-price {
  color: #29303b;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
