<header class="main-header navbar">
  <a class="navbar-brand" href="/dashboard"></a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="/dashboard/users">Users</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" href="">Settings</a>
    </li>
  </ul>
</header>
