.what-get {
  margin-top: 40px;
  &__title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    text-transform: capitalize;
  }
  &__wrapper {
    background-color: #f9f9f9;
    border: 1px solid #dedfe0;
    padding: 10px 15px;
  }
}
