:host {
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  display: block;
  position: relative;
  z-index: 1010;
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    background: inherit;
    border-top: none;
    box-shadow: none;
    box-sizing: border-box;
    height: 65px;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    z-index: 1011;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__udemy-logo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    width: 110px;
    height: 32px;
    -ms-interpolation-mode: bicubic;
    background: url(/assets/img/logo-coral.png) center no-repeat;
    background-size: 100%;
    margin-right: 16px;
  }

  &__categories {
    margin: 0 25px;
    max-width: 630px;
    width: 100%;
    flex: 1;
    min-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__setting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.dropdown {
  font-size: 13px;
  margin: 0 2px;
  padding: 10px 0;
  position: relative;

  &__toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    height: 45px;
    border: 1px solid transparent;
  }

  &__cart, &__bell, &__heart {
    border-radius: 50%;
    width: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    border: 1px solid transparent;
    font-size: 20px;
    color: #686f7a;
    display: block;
    text-align: center;
    position: relative;
    padding: 10px 0;
    position: relative;
    &:hover {
      background-color: #f2f3f5;
      border: 1px solid #dedfe0;
    }
  }

  &__link {
    color: #505763;
    display: block;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: uppercase;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: #686f7a;
    font-size: 15px;
    width: 45px;
    text-align: center;
    color: #505763;
    height: 45px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .fa-th {
    color: #a1a7b3;
    font-size: 15px;
    margin-right: 5px;
  }

  &__main-link {
    color: #505763;
    display: block;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 15px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    &:hover {
      background-color: #f2f3f5;
      border-radius: 5px;
      border: 1px solid #dedfe0;
    }

    &__user {
      border-left: none;
      border-radius: 0;
      font-size: 13px;
      margin: 0 2px;
      padding: 10px 0;
      position: relative;
    }
  }

  &__ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__category {
    position: relative;
    display: none;
  }

  &:hover {
    .dropdown__category {
      display: block;
    }
  }
}

.search {
  margin: 0 25px;
  max-width: 630px;
  width: 100%;
  position: relative;

  &__courses {
    max-width: 630px;
  }

  &__input {
    background-color: #f2f3f5;
    border-color: #dedfe0;
    border-right: 0;
    box-shadow: none;
    border: 1px solid transparent;
    height: 45px;
    padding: 0 15px;
    border-radius: 2px 0 0 2px;
    font-size: 13px;
    width: 100%;
    outline: none;

    &:focus {
      background-color: #fff;
      border-color: #dedfe0;
      border-right: 0;
      box-shadow: none;
      .search__btn {
        background-color: #fff;
        border-color: #dedfe0;
        border-right: 1px solid;
      }

    }
  }

  &__group {
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
  }

  &__btn {
    height: 100%;
    border: none;
    width: 35px;
    outline: none;
    background-color: #f2f3f5;
    .fa-search {
      color: #ff0000;
    }
  }
}

.udemy {
  &__login {
    font-size: 13px;
    margin: 0 2px;
    padding: 10px 0;
    position: relative;
  }
}

.btn-login {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
}

.btn-sign {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid transparent;
}

