<div class="my-course__jumbotron">
    <div class="container">
      <div class="my-course__head">
        <h1> My Courses</h1>
      </div>
      <ul class="nav">
        <li class="nav__item">
          <a routerLink="/home/my-courses/learning"
            routerLinkActive="nav__active"
            class="nav__link"> All courses </a>
        </li>
        <li class="nav__item">
          <a routerLink="/home/my-courses/collections"
            routerLinkActive="nav__active"
            class="nav__link"> Collections </a>
        </li>
        <li class="nav__item">
          <a routerLink="/home/my-courses/wishlist"
            routerLinkActive="nav__active"
            class="nav__link"> Wishlist </a>
        </li>
        <li class="nav__item">
          <a routerLink="/home/my-courses/archived"
            routerLinkActive="nav__active"
            class="nav__link"> Archived </a>
        </li>
      </ul>
    </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
