/* Structure */
.user-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.user-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  .mat-sort-header-sorted {
    color: black;
  }
}

.row {
  margin: 10px 0;
}

.new-user {
  float: right;
}
