<div *ngIf="course">
  <div class="streamer">
    <courses-introduction
      [course]="course">
    </courses-introduction>
  <div class="container">
    <courses-what-learn
      [course]="course">
    </courses-what-learn>
    <div class="row">
        <div class="col-xs-8 left-col streamer__wrapper">
            <div class="streamer__title">Requirements</div>
            <ul class="requirements__list">
              <li class="requirements__item"> {{course.requirements}} </li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-8 left-col streamer__wrapper">
        <div class="streamer__title">Description</div>
        <p>{{course.decsription}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 left-col streamer__wrapper">
        <div class="streamer__title">Compare to Other Courses</div>
        <couses-compare [coursesComparion]="coursesComparion"></couses-compare>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-8 left-col streamer__wrapper">
          <div class="streamer__title">Compare to Other Courses</div>
          <accordion>
              <div *ngFor="let chapter of chapters">
              <accordion-item [chapter]="chapter">
                <ul class="chapter__wrapper">
                  <li *ngFor="let part of chapter.parts"
                    class="chapter__container">
                    <div class="chapter__content">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                      <div class="chapter__title"> {{part.title}} </div>
                    </div>
                    <div class="chapter__lecture">
                      <div class="chapter__time"> {{part.time}} </div>
                    </div>
                  </li>
                </ul>
              </accordion-item>
              </div>
            </accordion>
        </div>
      </div>
  </div>
</div>
