<div *ngIf="course">
  <div class="streamer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 streamer__actions">
          <a href="javascript:void(0)" class="streamer__actions--link">Gift this course</a>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 left-col">
          <courses-introduction
            [course]="course">
          </courses-introduction>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 left-col">
        <courses-what-learn
          [course]="course">
        </courses-what-learn>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-8 left-col streamer__wrapper">
            <div class="streamer__title">Requirements</div>
            <ul class="requirements__list">
              <li class="requirements__item"> {{course.requirements}} </li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-8 left-col streamer__wrapper">
        <div class="streamer__title">Description</div>
        <p>{{course.decsription}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 left-col streamer__wrapper">
        <div class="streamer__title">Compare to Other Courses</div>
        <couses-compare [coursesComparion]="coursesComparion"></couses-compare>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-8 left-col streamer__wrapper">
          <accordion>
              <div *ngFor="let post of posts">
              <accordion-item [title]="post.title">
                {{ post.body }}
              </accordion-item>
              </div>
            </accordion>
        </div>
      </div>
  </div>
</div>
