<div *ngIf="courseItem">
  <div *ngIf="courseItem.course"
       class="streamer">
    <courses-introduction
      [course]="courseItem.course">
    </courses-introduction>
  <div class="container">
    <courses-what-learn
      [course]="courseItem.course">
    </courses-what-learn>
    <div class="row">
        <div class="col-xs-8 left-col streamer__wrapper">
            <div class="streamer__title">Requirements</div>
            <ul class="requirements__list">
              <li class="requirements__item"> {{courseItem.course?.requirements}} </li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-8 left-col streamer__wrapper">
        <div class="streamer__title">Description</div>
        <p>{{courseItem.course?.decsription}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 left-col streamer__wrapper">
        <div class="streamer__title">Compare to Other Courses</div>
        <couses-compare [coursesComparion]="courseItem.courses"></couses-compare>
      </div>
    </div>
    <div class="row">
      <courses-accordion [courseItem]="courseItem"></courses-accordion>
    </div>
    <div class="row">
      <courses-about-instructor [course]="courseItem.course"></courses-about-instructor>
    </div>
  </div>
</div>
