body {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background: #f7f8fa;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  &:hover,focus {
    color: #23527c;
    text-decoration: none;
}
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 11px 12px;
  font-size: 15px;
  line-height: 1.43;
  border-radius: 2px;
  line-height: 1.35135;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .course__container, .course__channels {
    width: 754px;
  }
}

@media (min-width: 992px) {
  .course__container, .course__channels {
    width: 974px;
  }
}

@media (min-width: 1200px) {
  .course__container, .course__channels {
    width: 1174px;
  }
}

@media (min-width: 1431px) {
  .course__container, .course__channels {
    width: 1405px;
  }
}

@media (min-width: 1200px) {
  .course__item {
    width: 216px;
  }
}

@media (min-width: 992px) {
  .course__item {
    width: 220px;
  }
}

@media (min-width: 768px) {
  .course__item {
    position: relative;
    border: none;
    box-shadow: none;
    width: 230px;
  }
}
