:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-body {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}

.main {
  margin-right: 0;
  margin-left: 200px;
  flex: 1;
  min-width: 0;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -ms-flex 0.25s;
}
