<div class="container">
  <form [formGroup]="addCourse" >
    <div class="row">
      <div class="col-xs-12">
        <label class="course__label"> Title: </label>
        <input class="course__title" type="text" name="title" placeholder="Add title course" formControlName="title" id="title" title="ngControl" >
        <control-messages [control]="addCourse.controls.title"></control-messages>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label class="course__label" for="sub">Sub title: </label>
        <input class="course__title" type="text" id="" placeholder="Add new sub title" name="subtitle" formControlName="subtitle" >
        <control-messages [control]="addCourse.controls.subtitle"></control-messages>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <label class="course__label" for="Category">Categories: </label>
        <select
          [(ngModel)]="categorySelected"
          (change)="onSelectCategory($event)"
          formControlName="category"
          name="category"
          class="course__select">
          <option *ngFor="let catgory of categories" value="{{catgory.id}}">
            {{catgory.title}}
          </option>
        </select>
      </div>
      <div class="col-xs-4">
        <label class="course__label" for="date"> Date: </label>
        <input type="date" class="course__rating" name="date"  formControlName="date"  [ngModel] ="currentDay | date:'yyyy-MM-dd'">
        <control-messages [control]="addCourse.controls.date"></control-messages>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <label class="course__label" for="topic">Topics: </label>
        <select
          [(ngModel)]="topicSelected"
          (change)="onSelectTopic($event)"
          formControlName="topic"
          name="topic"
          class="course__select"
          id="topic">
          <option *ngFor="let topic of topics" value="{{topic.id}}">{{topic.title}}</option>
        </select>
      </div>
      <div class="col-xs-4">
        <label class="course__label" for="type"> Type : </label>
        <select
          [(ngModel)]="typeSelected"
          (change)="selectType($event)"
          formControlName="type"
          name="type"
          class="course__select"
          id="type">
          <option value="new">New</option>
          <option value="best seller">Best Seller</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label class="course__label" for="rating"> Rating: </label>
          <input type="text" class="course__rating" id="" name="rating" formControlName="rating" >
          <control-messages [control]="addCourse.controls.rating"></control-messages>
        </div>
        <div class="form-group">
          <label class="course__label" for="price"> Price: </label>
          <input type="text" class="course__rating" name="price" id="price" formControlName="price">
          <control-messages [control]="addCourse.controls.price"></control-messages>
        </div>
        <div class="form-group">
          <label class="course__label" for="discount"> Discount price: </label>
          <input type="text" class="course__rating" name="discount" id="discount" formControlName="discount">
          <control-messages [control]="addCourse.controls.discount"></control-messages>
        </div>
        <div class="form-group">
          <label class="course__label" for=""> Language: </label>
          <select
            [(ngModel)]="languageSelected"
            (change)="selectLanguage($event)"
            formControlName="language"
            class="course__select"
            id="language"
            name="language">
            <option value="English">English</option>
            <option value="Deutsch">Deutsch</option>
            <option value="Francais">Francais</option>
            <option value="Espanol">Espanol</option>
          </select>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="form-group">
          <label class="course__label" for="images">Images: </label>
          <uploader-image [imageSrc]="imageSrc" (images)="selectImages($event)"></uploader-image>
          <control-messages [control]="addCourse.controls.images"></control-messages>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
          <label class="course__label" for="learning">Learning: </label>
          <textarea type="text" class="course__textarea" name="learning" id="learning" formControlName="learning"></textarea>
          <control-messages [control]="addCourse.controls.learning"></control-messages>
        </div>
        <div class="form-group">
          <label class="course__label" for="desc">Decsription: </label>
          <textarea type="text" class="course__textarea" name="decsription" id="decsription" formControlName="decsription"></textarea>
          <control-messages [control]="addCourse.controls.images"></control-messages>
        </div>
        <div class="form-group">
          <label class="course__label" for="requirements">Requirements: </label>
          <textarea type="text" class="course__textarea" name="requirements" id="requirements" formControlName="requirements"></textarea>
          <control-messages [control]="addCourse.controls.requirements"></control-messages>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" (click)="submitForm(addCourse.value)" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

