.modal-overlay {
  background: rgba(41,48,59,.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1012;
}

.closed {
  .modal {
    top: -100%;
  }
  .modal-overlay {
    display: none;
  }
}

.modal {
  max-height: calc(100% - 10em);
  overflow-y: auto;
  position: fixed;
  z-index: 1100;
  transition: all .5s ease;
  cursor: default;
  // margin: 10vh auto;
  transform: translate(0);
  min-width: 300px;
  display: flex;
  justify-content: center;
  width: 100%;

  &__content {
    position: relative;
    width: 380px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  &__head {
    background-color: #f2f3f5;
    border-bottom: 1px solid #29303b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #29303b;
    font-weight: 700;
    font-size: 15px;
    padding: 24px 45px 24px 20px;

    .right-align {
      position: absolute;
      right: 5px;
      top: 0;
      &, i {
        font-size: 25px;
        line-height: 40px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  &__body {
    padding: 10px 20px;
  }

  &__footer {
    padding: 5px 0 20px;
    text-align: center;
  }
}
