%font-playfair-display-regular {
  font-family: 'playfair-display-regular';
}

%font-open-sans-regular {
  font-family: 'open-sans-regular';
}

%text-align-center {
  text-align: center;
}

%text-transform-capitalize {
  text-transform: capitalize;
}

%text-transform-uppercase {
  text-transform: uppercase;
}

%text-decoration-none {
  text-decoration: none;
}

%bg-size-contain {
  background-size: contain;
}

%bg-size-cover {
  background-size: cover;
}

%bg-no-repeat {
  background-repeat: no-repeat;
}

%bg-transparent {
  background-color: transparent;
}

%margin-zero {
  margin: 0;
}

%margin-top-zero {
  margin-top: 0;
}

%float-left {
  float: left;
}

%float-right {
  float: right;
}

%overflow-hidden {
  overflow: hidden;
}

%display-block {
  display: block;
}

%border-none {
  border: none;
}
