$font-playfair-display-regular: 'playfair-display-regular';
$font-open-sans-regular: 'open-sans-regular';

$color-cod-gray: #111;
$color-white: #fff;
$color-dove-gray: #666;
$color-porsche: #e8bf5d;

$color-bg-header: $color-white;
$color-bg-main-section: $color-white;
$color-bg-footer: $color-white;
$color-border-left-main-section-group: $color-porsche;
$color-banner-job: $color-white;
$color-navbar-link: $color-cod-gray;
$color-title-main: $color-cod-gray;
$color-desc-main: $color-dove-gray;
$color-desc-item: $color-dove-gray;
$color-area-list-icon: $color-porsche;
$color-question-list-item: $color-white;
$color-question-list-item-first-child: $color-porsche;
