<div class="discover__title">
  Discover our popular courses
</div>
<div class="discover__unit">
  <a routerLink="/collection/tagged-top-rated/all-courses/" class="discover__topic discover__topic--rated">
    <div class="discover__details">
      <div class="discover__details--name"> Top rated</div>
    </div>
  </a>
  <a routerLink="/collection/tagged-trending/all-courses/" class="discover__topic discover__topic--trending">
    <div class="discover__details">
       <div class="discover__details--name"> Trending</div>
    </div>
  </a>
  <a routerLink="/collection/tagged-new/all-courses/" class="discover__topic discover__topic--noteworthy">
    <div class="discover__details">
      <div class="discover__details--name"> New and Noteworthy</div>
    </div>
  </a>
</div>
