:host {
  align-content: center;
  background-image: url('/assets/img/homepage_hero.jpg');
  height: 450px;
  padding: 0;
  width: 100%;
  display: flex;
  background-color: #686f7a;
  background-position: center 30%;
}

.streamer {

}
