:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  color: #151b1e;
  background: #f0f3f5;
  border-top: 1px solid #c2cfd6;
  flex: 0 0 50px;
  margin-left: 200px;
  margin-right: 0;
}
