<div class="header__inner">
  <h1 class="header__logo">
    <a routerLink="/" class="header__udemy-logo">
    </a>
  </h1>
  <div class="header__categories">
    <div class="header__topics">
      <div class="dropdown">
        <div class="dropdown__main-link">
          <i class="fa fa-th" aria-hidden="true"></i>
          <span class="dropdown__ellipsis">
            Categories
          </span>
        </div>
        <div class="dropdown__category">
        </div>
      </div>
    </div>
    <div class="search">
      <form class="search__courses" [formGroup]="searchForm" >
        <input
          #search
          (keyup)="onChange($event)"
          type="text"
          id="search"
          formControlName="search"
          class="search__input"
          placeholder="Search for Courses">
        <span class="search__group">
          <button class="search__btn">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </form>
      </div>
  </div>
  <div *ngIf="user === null"
    class="header__setting">
    <div class="udemy__business">
      <a href="" class="dropdown__main-link">
        Udemy business
      </a>
    </div>
    <div class="udemy__business">
      <a [routerLink]="['/teaching']" [queryParams]="{ref: 'teach_header'}"  class="dropdown__main-link"> Teach online</a>
    </div>
    <div class="udemy__cart">

    </div>
    <div class="udemy__login">
      <div class="btn btn-login" (click)="clickLogin()">
        Log in
      </div>
    </div>
    <div class="udemy__login">
      <div class="btn btn-login" (click)="clickRegister()">
          Sign up
        </div>
      </div>
  </div>
  <div *ngIf="user"
    class="header__setting">
    <div class="udemy__business">
      <a href="" class="dropdown__main-link">
       Become in Instructor
      </a>
    </div>
    <div class="udemy__business">
      <a href="" class="dropdown__main-link dropdown__my-course"> My Courses</a>
      <div class="my-course">
        <ul class="my-course__container">
            <li *ngFor="let item of myCourses"
              class="my-course__item">
              <a routerLink="/{{item.course.name}}"
                class="my-course__link">
                <div class="my-course__image">
                  <img src="{{item.course.images}}" alt="{{item.course.name}}">
                  <div class="my-course__play"></div>
                </div>
                <div class="my-course__content">
                  <div class="my-course__title"> {{item.course.title}}</div>
                  <div class="my-course__meta"> {{item.teacher?.fullName}} {{item.teacher?.company}}</div>
                </div>
              </a>
            </li>
          </ul>
        <div class="my-course__footer">
          <a routerLink="/home/my-courses/learning"> See All</a>
        </div>
      </div>
    </div>
    <div class="dropdown__heart">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <div class="dropdown__cart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div class="dropdown__bell">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
    </div>
    <div class="dropdown__user">
      <div class="dropdown__toggle">
        <a href="">
          <div class="dropdown__link">
            <span>{{ shortName.name }}</span>
          </div>
        </a>
        <ul class="user__setting">
          <li class="user__item">
            <a href="">
                <div class="user__infor">
                  <span class="dropdown__link">{{ shortName.name }}</span>
                  <div class="user__infor-login">
                    <span class="user__infor--name">{{ user.fullName }}</span>
                    <span class="user__infor--email">{{ user.email }}</span>
                  </div>
                </div>
              </a>
          </li>
          <li class="user__item">
            <div class="user__message">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
              <span class="user__title"> My Messages</span>
            </div>
          </li>
          <li class="user__item">
            <div class="user__message">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              <span class="user__title"> Udemy Credits </span>
            </div>
          </li>
          <li class="user__item">
            <div class="user__message">
              <i class="fa fa-history" aria-hidden="true"></i>
              <span class="user__title"> Purchase History</span>
            </div>
          </li>
          <li class="user__item">
              <div class="user__message">
                <i class="fa fa-list" aria-hidden="true"></i>
                <a routerLink="/courses/manager">Manager Courses</a>
              </div>
            </li>
          <li class="user__item" (click)="logOut($event)">
              <div class="user__message">
                <span class="user__title"> Log out</span>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- <modal-box [modalTitle]="modalTitle" [blocking]="false" [modalId]='modalId'>
    <h2> Content form login </h2>
  </modal-box> -->
</div>
