<div class="how-works">
  <div class="how-works__column">
    <span class="how-works__icon">
      <i class="fa fa-pie-chart" aria-hidden="true"></i>
    </span>
    <div class="how-works__content">
      <span class="how-works__title"> 55,000 online courses</span>
      <div class="how-works__decs"> Explore a varity of fresh topics</div>
    </div>
  </div>
  <div class="how-works__column">
    <span class="how-works__icon">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </span>
    <div class="how-works__content">
      <span class="how-works__title"> Expert instruction </span>
      <div class="how-works__decs"> Find the right instructor for you</div>
    </div>
  </div>
  <div class="how-works__column">
    <span class="how-works__icon">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </span>
    <div class="how-works__content">
      <span class="how-works__title"> Lifetime access</span>
      <div class="how-works__decs"> Learn on your schedule </div>
    </div>
  </div>
</div>
