<div *ngFor="let course of courses">
  <h2 class="carousel__title"> Top Courses in "{{course | titleCarousel: categories}}"</h2>
  <div ng2-carouselamos
    [width]="widthCarousel"
    [items]="course"
    [$item]="itemTemplate"
    [$prev]="prevTemplate"
    [$next]="nextTemplate"

  ></div>
  <ng-template #prevTemplate>
    <button class='carousel__pre'>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
  </ng-template>
  <ng-template #nextTemplate>
    <button class='carousel__next'>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </ng-template>
  <ng-template let-item let-i="index" #itemTemplate>
    <course [course]="item"></course>
  </ng-template>
</div>

