doctype html
html(lang=en)
  head
    title Aduocatus
    meta(charset="utf-8")
    meta(name="description" content="Aduocatus")
    meta(name="keyworks" content="HTML, CSS, PUG, SASS")
    meta(name="author" content="Do Nguyen")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='styles/main.css')
    script(type="text/javascript" src='/scripts/jquery.js')
    script(type="text/javascript" src='/scripts/bootstrap.js')
  body
    include header
    block main-content
    include footer
    != getBlock('scripts').toHTML()
