footer.main-footer
  .container
    p.desc-item.main-footer__license Copyright © Symu.co
    ul.footer-icon-list
      - for (var i = 0; i < network_icon.length; i++)
        li.footer-icon-list__item
          a(class=network_icon[i])
